.form-container {

    max-width: 450px;
    width: 95%;

    margin: 0;
    padding: 50px;

    background: #ffffff;
    border-radius: 12px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;

    gap: 20px;
    transition: all 0.3s ease;
}

.form-container:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/* Título del formulario */
.form-container h1 {

    font-size: 2.8rem;
    margin-bottom: 25px;
    color: #000;
    font-weight: bold;
}

/* Campos del formulario */
.form-input {
    width: 100%;
    padding: 14px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 14px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus {
    border-color: #0071e3;
    box-shadow: 0 0 8px rgba(0, 113, 227, 0.3);
}

/* Botones */
.form-button {
    padding: 18px;
    font-size: 19px;
    font-weight: bold;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: 100%;
    margin-top: 20px;
}

.form-button:hover {
    background-color: #333;
    transform: translateY(-2px);
}

/* Pie del formulario */
.form-footer {
    margin-top: 20px;
    font-size: 18px;
}

.form-link {
    color: #0071e3;
    cursor: pointer;
    text-decoration: underline;
}

.form-link:hover {
    color: #005bb5;
    text-decoration: none;
}

.main-centered {
    padding: 70px 50px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.form-field label {
    display: block;
    text-align: left;

    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.error-text {
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
}

.input-error {
    border: 1px solid red !important;
    background-color: #ffecec;
}